<nav>
  <div class="navbar">
    @if (!mostrarMenu) {
      <img class="hamburguesa" src="assets/menu-de-hamburguesas.png" alt="hamburguesa" (click)="toggleMenu()">
    } @else {
      <img class="hamburguesa" src="assets/x.png" alt="X" (click)="toggleMenu()">
    }
    <img routerLink="/" class="logo" src="assets/logo-camis.png" alt="logo web">
    <div class="lupa-carrito-login">
      <img (click)="login()" id="login" src="assets/login.png" alt="login">
      <img class="lupa" src="assets/lupa.png" alt="lupa" (click)="toggleBuscador()">
      <img class="carrito" src="assets/carrito.png" alt="carrito" (click)="toggleCarrito()"> 
    </div> 
  </div>

  <!-- Cuadro de búsqueda -->
   @if(mostrarBuscador){
      <div class="buscador">
        <input class="buscar" type="text" placeholder="Buscar camisetas,cajas,etc..">
        <img (click)="toggleBuscador()" class="x-negra" src="assets/x-negra.png" alt="x negra">
      </div>
    }


   <!-- Carrito -->
    @if(mostrarCarrito){

      <div class="vista-carrito">
        
        <div class="carrito-x">
          <h2>Mi Cesta ({{ carritoService.cantidad() }})</h2>
          <img (click)="toggleCarrito()" src="assets/x-negra.png" alt="Cerrar" style="cursor: pointer;">
        </div>

        @if (carritoService.cantidad() > 0) {
          <div class="contenido-carrito-lleno">
            
            <div class="lista-items-header">
              @for (item of carritoService.carrito(); track $index) {
                <div class="item-mini">
                  <img [src]="item.imagen_principal" class="img-mini">
                  <div class="info-mini">
                    <p class="desc-mini">{{ item.descripcion }}</p>
                    <p>Talla: {{ item.talla }}</p>
                    <p class="precio-mini">{{ item.precio }}€</p>
                  </div>
                  <button class="basura-btn" (click)="carritoService.eliminarProducto($index)">
                    <img src="assets/basura.png" alt="basura">
                  </button>
                </div>
              }
            </div>

            <div class="resumen-mini">
              <div class="fila-total">
                <span>Total:</span>
                <strong>{{ carritoService.importeTotal() }}€</strong>
              </div>
              <button class="boton-comprar" routerLink="/carrito" (click)="toggleCarrito()">
                Tramitar Pedido
              </button>
            </div>
          </div>
        }
        
        @else {
          <div class="carr-tex-bot">
            <img class="carrito-vacio" src="assets/carrito-vacio.png" alt="carrito vacio">
            <h3>Su carrito está vacío.</h3>
            <button class="boton-comprar" (click)="toggleCarrito()">Empieza a comprar</button>
          </div>
        }
      </div>
    }

  <ul class="secciones" [class.mostrar-secciones]="mostrarMenu">
    @if(isAuthenticated()){
      <h3 class="bienvenida">¡Bienvenido {{ user()?.nickname }}!</h3>
    }
    @for (seccion of secciones; track $index) {
      <li class="seccion">
        <div (click)="toggleSeccion(seccion)">
          {{ seccion.nombre }}
          @if (seccion.ligas || seccion.equipos) {
            <img 
              class="flecha"
              src="assets/flecha.png"
              [class.rotar-flecha]="seccion.abierta"
              alt="flecha">
          }
        </div>

        <!-- Subsecciones (ligas) -->
        @if (seccion.ligas && seccion.abierta) {
          <ul class="subsecciones mostrar-subsecciones">
            @for (liga of seccion.ligas; track liga) {
              <li class="liga">
                <div (click)="toggleLiga(seccion, liga)">
                {{ liga.nombre }}

                @if (liga.equipos.length) {
                  <img 
                    class="flecha-derecha"
                    src="assets/flecha-derecha.png"
                    [class.rotar-flecha270deg]="liga.abierta"
                    alt="flecha derecha">
                }
                </div>

                <!-- Equipos -->
                @if (liga.equipos.length && liga.abierta) {
                  <ul class="equipos mostrar-equipos">
                    @for (equipo of liga.equipos; track equipo) {
                      <li><a class="equipo" [routerLink]="['/equipo',equipo.nombre]" (click)="navegarYcerrarMenu()">{{ equipo.nombre }}</a></li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        }

        @if (seccion.equipos && seccion.abierta) {
            <ul class="subsecciones mostrar-subsecciones">
              @for (equipo of seccion.equipos; track equipo.nombre) {
                <li class="liga">
                  <a [routerLink]="['/equipo', equipo.nombre]" (click)="navegarYcerrarMenu()">
                     {{ equipo.nombre }}
                  </a>
                </li>
              }
            </ul>
        }

      </li>
    }
    @if(isAuthenticated()){
      <button class="acceder" [routerLink]="['/perfil']"><img class="icono-login" src="assets/login.png" alt="login">Perfil</button>
      <button class="logout" (click)="logout()">Cerrar Sesión</button>
    }@else {
      <button class="acceder" (click)="login()"><img class="icono-login" src="assets/login.png" alt="login">Acceder</button>
    }
  </ul>
</nav>
