.container{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 8px;
}

.container img{
    width: 350px;
    margin: 0 auto;
    padding: 30px;
}

.container h3{
    font-size: 25px;
    margin-left: 10px;
    max-width: 70%;
}

.container p{
    margin-left: 10px;
    font-size: 20px;
    color: #7ED957;
}

.container button{
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border: none;
    background-color: #7ED957;
    color: white;
    scale: 1;
    transition: 0.3s;
}

.container button:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}

.info-camiseta{
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.envios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    text-align: center;
    gap: 30px;
    background-color: rgb(172, 172, 172);
    padding: 20px;
}


/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {
    .container img{
        width: 450px;
        padding: 10px;
    }

    .container p{
        font-size: 25px;
    }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1000px) {
    .container img{
        width: 500px;
    }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1400px) {
    .container img{
        width: 600px;
    }

    .container button{
        width: 50%;
    }
}