<!-- <nav>
    <div class="navbar">
        <img class="hamburguesa" src="assets/menu-de-hamburguesas.png" alt="Menu hamburguesa">
        <img class="logo" src="assets/logo-camis.png" alt="logo web">
        <div class="lupa-carrito-login">
            <img id="login" src="assets/login.png" alt="login">
            <img class="lupa" src="assets/lupa.png" alt="lupa">
            <img class="carrito" src="assets/carrito.png" alt="carrito">
        </div> 
    </div>
    <ul class="secciones">
            <li class="seccion">Clubes 25/26 <img class="flecha" src="assets/flecha.png" alt="flecha">
                <ul class="subsecciones">
                    <li class="liga">LaLiga <img class="flecha-derecha" src="assets/flecha-derecha.png" alt="flecha derecha">
                        <ul class="equipos">
                            <li>FC Barcelona</li>
                            <li>Real Madrid</li>
                            <li>Atlético de Madrid</li>
                            <li>Sevilla FC</li>
                            <li>Real Betis Balompié</li>
                            <li>Real Sociedad</li>
                            <li>Villarreal CF</li>
                            <li>Athletic Club</li>
                            <li>Valencia CF</li>
                            <li>CA Osasuna</li>
                            <li>Celta de Vigo</li>
                            <li>Rayo Vallecano</li>
                            <li>Deportivo Alavés</li>
                            <li>RCD Espanyol de Barcelona</li>
                            <li>Elche CF</li>
                            <li>Getafe CF</li>
                            <li>RCD Mallorca</li>
                            <li>Levante UD</li>
                            <li>Real Oviedo</li>
                            <li>Girona FC</li>
                        </ul>
                    </li>
                    <li class="liga">Premier League <img class="flecha-derecha" src="assets/flecha-derecha.png" alt="flecha derecha">
                        <ul class="equipos">
                            <li>Arsenal FC</li>
                            <li>Aston Villa FC</li>
                            <li>Bournemouth AFC</li>
                            <li>Brentford FC</li>
                            <li>Brighton & Hove Albion FC</li>
                            <li>Chelsea FC</li>
                            <li>Crystal Palace FC</li>
                            <li>Everton FC</li>
                            <li>Fulham FC</li>
                            <li>Ipswich Town FC</li>
                            <li>Liverpool FC</li>
                            <li>Luton Town FC</li>
                            <li>Manchester City FC</li>
                            <li>Manchester United FC</li>
                            <li>Newcastle United FC</li>
                            <li>Nottingham Forest FC</li>
                            <li>Southampton FC</li>
                            <li>Tottenham Hotspur FC</li>
                            <li>West Ham United FC</li>
                            <li>Wolverhampton Wanderers FC</li>
                        </ul>
                    </li>
                    <li class="liga">Serie A <img class="flecha-derecha" src="assets/flecha-derecha.png" alt="flecha derecha">
                        <ul class="equipos">
                            <li>Atalanta</li>
                            <li>Bologna</li>
                            <li>Cagliari</li>
                            <li>Como</li>
                            <li>Cremonese</li>
                            <li>Fiorentina</li>
                            <li>Genoa</li>
                            <li>Hellas Verona</li>
                            <li>Inter Milán</li>
                            <li>Juventus</li>
                            <li>Lazio</li>
                            <li>Lecce</li>
                            <li>Milan</li>
                            <li>Napoli</li>
                            <li>Parma</li>
                            <li>Pisa</li>
                            <li>Roma</li>
                            <li>Sassuolo</li>
                            <li>Torino</li>
                            <li>Udinese</li>
                        </ul>
                    </li>
                    <li class="liga">Bundesliga <img class="flecha-derecha" src="assets/flecha-derecha.png" alt="flecha derecha">
                        <ul class="equipos">
                            <li>Augsburgo</li>
                            <li>Bayer Leverkusen</li>
                            <li>Bayern de Múnich</li>
                            <li>Bochum</li>
                            <li>Borussia Dortmund</li>
                            <li>Borussia Mönchengladbach</li>
                            <li>Eintracht Fráncfort</li>
                            <li>Friburgo</li>
                            <li>Heidenheim</li>
                            <li>Hoffenheim</li>
                            <li>Holstein Kiel</li>
                            <li>Maguncia 05</li>
                            <li>RB Leipzig</li>
                            <li>San Pauli</li>
                            <li>Stuttgart</li>
                            <li>Unión Berlín</li>
                            <li>Werder Bremen</li>
                            <li>Wolfsburgo</li>
                        </ul>
                    </li>
                    <li class="liga">Ligue 1 <img class="flecha-derecha" src="assets/flecha-derecha.png" alt="flecha derecha">
                        <ul class="equipos">
                            <li>Angers</li>
                            <li>Auxerre</li>
                            <li>Brest</li>
                            <li>El Havre</li>
                            <li>Lens</li>
                            <li>Lille</li>
                            <li>Lorient</li>
                            <li>Lyon</li>
                            <li>Marsella</li>
                            <li>Metz</li>
                            <li>Mónaco</li>
                            <li>Nantes</li>
                            <li>Niza</li>
                            <li>Paris FC</li>
                            <li>Paris Saint-Germain</li>
                            <li>Rennes</li>
                            <li>Estrasburgo</li>
                            <li>Toulouse</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="seccion">Selecciones 25/26 <img class="flecha" src="assets/flecha.png" alt="flecha">
                <ul class="subsecciones">
                    <li>España</li>
                    <li>Brasil</li>
                    <li>Alemania</li>
                    <li>Argentina</li>
                    <li>Francia</li>
                    <li>Italia</li>
                    <li>Portugal</li>
                </ul>
            </li>
            <li class="seccion">Camisetas Retro</li>
            <li class="seccion">Cajas Sorpresa</li>
    </ul> 
</nav>
  
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script> -->





<nav>
  <div class="navbar">
    @if (!mostrarMenu) {
      <img class="hamburguesa" src="assets/menu-de-hamburguesas.png" alt="hamburguesa" (click)="toggleMenu()">
    } @else {
      <img class="hamburguesa" src="assets/x.png" alt="X" (click)="toggleMenu()">
    }
    <img class="logo" src="assets/logo-camis.png" alt="logo web">
    <div class="lupa-carrito-login">
      <img id="login" src="assets/login.png" alt="login">
      <img class="lupa" src="assets/lupa.png" alt="lupa" (click)="toggleBuscador()">
      <img class="carrito" src="assets/carrito.png" alt="carrito" (click)="toggleCarrito()">
    </div> 
  </div>

  <!-- Cuadro de búsqueda -->
   @if(mostrarBuscador){
    <div class="buscador">
      <input type="text" placeholder="Buscar equipos, ligas, camisetas...">
      <input type="button" value="Buscar">
    </div>
   }

   <!-- Carrito -->
    @if(mostrarCarrito){
      <div class="vista-carrito">
        <div>
          <h2>Carrito</h2>
          <img src="assets/x-negra.png" alt="x negra">
        </div>
        <img src="assets/carrito-vacio.png" alt="carrito vacio">
        <h3>Su carrito esta vacío.</h3>
      </div>
    }

  <ul class="secciones" [class.mostrar-secciones]="mostrarMenu">
    @for (seccion of secciones; track seccion) {
      <li class="seccion">
        <div (click)="toggleSeccion(seccion)">
          {{ seccion.nombre }}
          @if (seccion.ligas) {
            <img 
              class="flecha"
              src="assets/flecha.png"
              [class.rotar-flecha]="seccion.abierta"
              alt="flecha">
          }
        </div>

        <!-- Subsecciones (ligas) -->
        @if (seccion.ligas && seccion.abierta) {
          <ul class="subsecciones mostrar-subsecciones">
            @for (liga of seccion.ligas; track liga) {
              <li class="liga">
                <div (click)="toggleLiga(seccion, liga)">
                {{ liga.nombre }}

                @if (liga.equipos.length) {
                  <img 
                    class="flecha-derecha"
                    src="assets/flecha-derecha.png"
                    [class.rotar-flecha270deg]="liga.abierta"
                    alt="flecha derecha">
                }
                </div>

                <!-- Equipos -->
                @if (liga.equipos.length && liga.abierta) {
                  <ul class="equipos mostrar-equipos">
                    @for (equipo of liga.equipos; track equipo) {
                      <li><a class="equipo" href="#">{{ equipo.nombre }}</a></li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</nav>
