<app-header></app-header>

<div class="container">
  <h1>Cajas Sorpresa</h1>
  @if(cajas.length >= 1){
    <h4>{{ cajas.length }} resultados para "Cajas sorpresa"</h4>
  }


  <div class="cajas">
    @for (caja of cajas; track caja.id) {
      <div class="caja" [routerLink]="['/caja', caja.id, caja.nombre]">
        <img [src]="caja.imagen" alt="caja">
        <h3>{{ caja.nombre }}</h3> 
        <p>{{ caja.precio }}€</p>
      </div>
    }
  </div>
  
  @if ( cajas.length === 0) {
    <p>Cargando camisetas...</p>
  }
</div>

<app-footer></app-footer>
