.seccion1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1px;
}

.texto1{
    text-align: center;
    font-size: 18px;
    color: rgb(34, 47, 65);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.verificado{
    width: 17px;
}

.texto2{
    text-align: center;
    color: rgb(34, 47, 65);
    margin-top: 30px;
}

.camiseta:hover{
    cursor: pointer;
}

.camisetas{
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.camiseta img{
    width: 160px;
    height: 160px;
    border-radius: 20px;
}

.camiseta h3{
    font-size: 16px;
    text-align: center;
}

.camiseta p{
    font-size: 15px;
    text-align: center;
}


/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {
    .texto1{
        font-size: 30px;
    }

    .verificado{
        width: 24px;
    }

    .texto2{
        font-size: 30px;
    }

    .camisetas{
        grid-template-columns: 230px 230px;
    }

    .camiseta img{
        width: 230px;
        height: 230px;
    }

    .camiseta h3{
        font-size: 17px;
    }

    .camiseta p{
        font-size: 20px;
    }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1000px) {
    .texto1{
        font-size: 40px;
    }

    .verificado{
        width: 30px;
    }

    .texto2{
        font-size: 40px;
    }

    .camisetas{
        grid-template-columns: 300px 300px;
    }

    .camiseta img{
        width: 300px;
        height: 300px;
    }

    .camiseta h3{
        font-size: 22px;
    }

    .camiseta p{
        font-size: 24px;
    }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1400px) {
    .texto1{
        font-size: 60px;
    }

    .verificado{
        width: 45px;
    }

    .texto2{
        font-size: 60px;
    }

    .camisetas{
        grid-template-columns: 500px 500px;
    }

    .camiseta img{
        width: 500px;
        height: 500px;
    }

    .camiseta h3{
        font-size: 35px;
    }

    .camiseta p{
        font-size: 34px;
    }
}