.formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    gap: 10px;
    color: white;
    font-size: 20px;
}

.formulario-login input{
    padding: 5px;
    border: none;
    border-radius: 15px;
}

.iniciar-sesion{
    margin: 0 auto;
    width: 70%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.iniciar-sesion:hover{
    background-color: rgb(129, 186, 61);
    transition: 0.4s;
    color: white;
}

.contenedor-form{
    background-color:rgb(30, 38, 49) ;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.enlace-registro{
    font-size: 15px;
    text-align: center;
}

.boton-registro{
    background: none;
    border: none;
    color: rgb(129, 186, 61);
    cursor: pointer;
}


/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {
    .formulario-login{
        width: 50%;
        gap: 15px;
        font-size: 25px;
    }

    .formulario-login input{
        padding: 8px;
    }

    .iniciar-sesion{
        width: 60%;
        font-size: 15px;
    }

    .logo{
        width: 230px;
        margin-top: 140px;
    }

    .enlace-registro{
        font-size: 18px;
    }

    .boton-registro{
        font-size: 15px;
    }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1000px) {
    .formulario-login{
        width: 30%;
        gap: 15px;
        font-size: 25px;
    }

    .formulario-login input{
        padding: 8px;
    }

    .iniciar-sesion{
        width: 60%;
        font-size: 15px;
    }

    .logo{
        width: 210px;
        margin-top: 80px;
    }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1400px) {
    .formulario-login{
        width: 20%;
        gap: 20px;
    }

    .iniciar-sesion{
        width: 40%;
    }

    .logo{
        width: 250px;
        margin-top: 240px;
    }
}