.formulario-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    gap: 10px;
    color: white;
    font-size: 20px;
}

.formulario-registro input{
    padding: 5px;
    border: none;
}

.registrarse{
    margin: 0 auto;
    width: 70%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.registrarse:hover{
    background-color: rgb(129, 186, 61);
    transition: 0.4s;
    color: white;
}

.contenedor-form{
    background-color:rgb(30, 38, 49) ;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.enlace-login{
    font-size: 15px;
    text-align: center;
}

.boton-login{
    background: none;
    border: none;
    color: rgb(129, 186, 61);
    cursor: pointer;
}

