<div class="container">
  <h1>Camisetas del {{ nombreEquipoActual }}</h1>

  @if (error) {
    <div class="alert-error">{{ error }}</div>
  }

  <div class="grid-camisetas">
    @for (camiseta of camisetas; track camiseta.id) {
      <div class="card">
        <img [src]="camiseta.imagen_principal" alt="Camiseta">
        <h3>{{ camiseta.descripcion }}</h3> <p>Precio: {{ camiseta.precio }} €</p>
      </div>
    }
  </div>
  
  @if (!error && camisetas.length === 0) {
    <p>Cargando camisetas...</p>
  }
</div>


