.container{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h1{
    font-size: 25px;
    margin-left: 15px;
}

.container h4{
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(80, 80, 80);
}

.container h1::after{
  content: '';
  display: block;
  width: 73%; 
  height: 4px; 
  background-color: #7ED957; 
  margin-top: 8px; 
  border-radius: 4px; 
}

.camiseta{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.camisetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 20px;
    gap: 10px;
}

.camiseta img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.camiseta h3{
    font-size: 16px;
    transition: 0.3s;
}

.camiseta h3:hover{
    color: #7ED957;
    transition: 0.3s;
}

.camiseta p{
    color: #7ED957;
    font-size: 18px;
}

.camiseta:hover{
    cursor: pointer;
}