<app-header></app-header>
<div class="container">
  @if(nombreEquipoActual === 'Camisetas RETRO'){
    <h1>Camisetas Retro</h1>
  }@else{
    <h1>Camisetas del {{ nombreEquipoActual }}</h1>
  }
  @if(camisetas.length >= 1){
    @if(nombreEquipoActual === 'Camisetas RETRO'){
      <h4>{{ camisetas.length }} resultados para "Camisetas Retro"</h4>
    }@else{
      <h4>{{ camisetas.length }} resultados para "Camisetas del {{ nombreEquipoActual }}"</h4>
    }

  }

  @if (error) {
    <div class="alert-error">{{ error }}</div>
  }

  <div class="camisetas">
    @for (camiseta of camisetas; track camiseta.id) {
      <div [routerLink]="['/camiseta',camiseta.id,camiseta.descripcion]" class="camiseta">
        <img [src]="camiseta.imagen_principal" alt="Camiseta">
        <h3>{{ camiseta.descripcion }}</h3> 
        <p>{{ camiseta.precio }}€</p>
      </div>
    }
  </div>
  
  @if (!error && camisetas.length === 0) {
    <p>Cargando camisetas...</p>
  }
</div>
<app-footer></app-footer>

