.seccion3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    font-size: 10px;
    max-width: 90%;
    gap: 10px;
    background-color: #0D1117;
    border-radius: 15px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.titulo-seccion3{
    text-align: center;
    margin-top: 30px;
    color: rgb(34, 47, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.columna1 ul{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    gap: 10px;
    list-style: none;
    color: #FFFFFF;
    font-size: 12px;
}

.columna2{
    text-align: center;
    padding: 20px 10px;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: #1C1F26;
}

.columna2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 30px;
    font-size: 13px;
}

.columna3{
    text-align: center;
    color: #FFFFFF;
    padding: 20px 10px;
    border-radius: 25px;
}

.columna3 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 30px;
    font-size: 13px;
}

.columna2 p,.columna3 p{
    font-size: 12px;
    margin-bottom: 12px;
}


/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {
    .seccion3{
        width: 70%;
        padding: 30px;
    }

    .titulo-seccion3{
        font-size: 30px;
    }

    .columna1 ul{
        font-size: 16px;
        gap: 15px;
        margin-top: 40px;
    }

    .columna2 ul{
        gap: 26px;
        font-size: 14px;
    }

    .columna3 ul{
        gap: 26px;
        font-size: 14px;
    }

    .columna2{
        padding: 25px 10px;
    }

    .columna3{
        padding: 25px 10px;
    }

    .columna2 p,.columna3 p{
        font-size: 15px;
    }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1000px) {
    .seccion3{
        width: 50%;
        padding: 50px;
        border-radius: 25px;
    }

    .titulo-seccion3{
        font-size: 35px;
        margin-top: 40px;
    }

    .columna1 ul{
        font-size: 16px;
        gap: 15px;
        margin-top: 50px;
    }

    .columna2 ul{
        gap: 26px;
        font-size: 12px;
    }

    .columna3 ul{
        gap: 26px;
        font-size: 12px;
    }

    .columna2{
        padding: 35px 10px;
    }

    .columna3{
        padding: 35px 10px;
    }

    .columna2 p,.columna3 p{
        font-size: 15px;
        margin-bottom: 10px;
    }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1400px) {
    .seccion3{
        width: 40%;
        padding: 50px;
        border-radius: 20px;
        margin-top: 60px;
    }

    .titulo-seccion3{
        font-size: 45px;
        margin-top: 50px;
    }

    .columna1 ul{
        font-size: 20px;
        gap: 32px;
        margin-top: 46px;
    }

    .columna2 ul{
        gap: 30px;
        font-size: 15px;
    }

    .columna3 ul{
        gap: 30px;
        font-size: 15px;
    }

    .columna2{
        padding: 35px 10px;
    }

    .columna3{
        padding: 35px 10px;
    }

    .columna2 p,.columna3 p{
        font-size: 20px;
        margin-bottom: 12px;
    }
} 















