.seccion3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    font-size: 10px;
    max-width: 90%;
    gap: 10px;
    background-color: #0D1117;
    border-radius: 15px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.titulo-seccion3{
    text-align: center;
    margin-top: 30px;
    color: rgb(34, 47, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.columna1{
}

.columna1 ul{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    gap: 10px;
    list-style: none;
    color: #FFFFFF;
    font-size: 11px;
}

.columna2{
    text-align: center;
    background-color:#7ED957;
    padding: 20px 10px;
    border-radius: 25px;
    color: #FFFFFF;
}

.columna2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.columna3{
    text-align: center;
    color: #FFFFFF;
    background-color: #1C1F26;
    padding: 20px 10px;
    border-radius: 25px;
}

.columna3 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.columna2 p,.columna3 p{
    font-size: 12px;
}