.seccion3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    font-size: 10px;
    max-width: 90%;
}

.titulo-seccion3{
    text-align: center;
}

.columna1{
}

.columna1 ul{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    gap: 10px;
    list-style: none;
}

.columna2{
    text-align: center;
}

.columna2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.columna3{
    text-align: center;
}

.columna3 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.columna2 p,.columna3 p{
    
}