<h2 class="titulo-seccion3">¿POR QUÉ ELEGIRNOS?</h2>
<section class="seccion3">
  <div class="columna1">
    <ul>
      <li>🔄 Devolución gratuita</li>
      <li>⭐ Camisetas 100% originales</li>
      <li>📦 Empaquetado Premium</li>
      <li>🌍 Envío express 24/48h</li>
    </ul>
  </div>

  <div class="columna2">
    <p>Camis World</p>
    <ul>
      <li>✔️</li>
      <li>✔️</li>
      <li>✔️</li>
      <li>✔️</li>
    </ul>
  </div>

  <div class="columna3">
    <p>Otras marcas</p>
    <ul>
      <li>❌</li>
      <li>❌</li>
      <li>❌</li>
      <li>❌</li>
    </ul>
  </div>
</section>



