.seccion2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    padding: 20px;
    background: #0b1a2b;
    display: flex;
    flex-direction: column;
}

.titulo-cajas{
    text-align: center;
    color: #f2f2f2;
}

.cajas{
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.caja:hover{
    cursor: pointer;
}

.caja img{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.caja h3{
    font-size: 16px;
    text-align: center;
    color: #f2f2f2;
}

.caja p{
    font-size: 15px;
    text-align: center;
    color: #f2f2f2;
}

.boton-cajas{
    display: flex;
    margin: 0 auto;
    background: #f2f2f2;
    color: #0b1a2b;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    scale: 1;
    transition: 0.5s;
    font-weight: 600;
    margin-top: 10px;
    align-items:center ;
    gap: 5px;
}

.boton-cajas img{
    width: 20px;
}

.boton-cajas:hover{
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
}


/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {

    .seccion2{
        gap: 10px;
    }

    .titulo-cajas{
        font-size: 30px;
        margin-top: 10px;
    }

    .cajas{
        grid-template-columns: 170px 170px 170px 170px;
    }

    .caja img{
        width: 170px;
        height: 170px;
    }

    .caja h3{
        font-size: 17px;
    }

    .caja p{
        font-size: 16px;
    }

    .boton-cajas{
        font-size: 20px;
        padding: 20px;
        border-radius: 30px;
    }

    .boton-cajas img{
        width: 22px;
    }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1400px) {

    .seccion2{
        gap: 20px;
    }

    .titulo-cajas{
        font-size: 35px;
        margin-top: 20px;
    }

    .cajas{
        grid-template-columns: 200px 200px 200px 200px;
        gap: 40px;
    }

    .caja{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .caja img{
        width: 200px;
        height: 200px;
    }

    .caja h3{
        font-size: 20px;
    }

    .caja p{
        font-size: 18px;
    }

    .boton-cajas img{
        width: 24px;
    }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1600px) {

    .seccion2{
        margin-top: 60px;
    }

    .titulo-cajas{
        font-size: 45px;
    }

    .cajas{
        grid-template-columns: 320px 320px 320px 320px;
        gap: 60px;
        margin-top: 50px;
    }

    .caja{
        gap: 10px;
    }

    .caja img{
        width: 320px;
        height: 320px;
    }

    .caja h3{
        font-size: 30px;
    }

    .caja p{
        font-size: 25px;
    }

    .boton-cajas{
        font-size: 24px;
        border-radius: 35px;
    }

    .boton-cajas img{
        width: 26px;
    }
}