.seccion2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    
}

.titulo-cajas{
    text-align: center;
    color: rgb(34, 47, 65);
}

.cajas{
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.caja:hover{
    cursor: pointer;
}

.caja img{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,1.5);
}

.caja h3{
    font-size: 16px;
    text-align: center;
}

.caja p{
    font-size: 15px;
    text-align: center;
}

.boton-cajas{
    display: block;
    margin: 0 auto;
    background: linear-gradient(180deg, #0E131F 0%, #1A2333 100%);
    color: white;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    scale: 1;
    transition: 0.5s;
    font-weight: 600;
    margin-top: 10px;
}

.boton-cajas:hover{
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
}


/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {

    .titulo-cajas{
        font-size: 30px;
    }

    .cajas{
        grid-template-columns: 170px 170px 170px 170px;
    }

    .caja img{
        width: 170px;
        height: 170px;
    }

    .caja h3{
        font-size: 17px;
    }

    .caja p{
        font-size: 16px;
    }

    .boton-cajas{
        font-size: 20px;
        padding: 20px;
        border-radius: 30px;
    }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1000px) {

    .titulo-cajas{
        font-size: 40px;
    }

    .cajas{
        grid-template-columns: 200px 200px 200px 200px;
        gap: 40px;
    }

    .caja{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .caja img{
        width: 200px;
        height: 200px;
    }

    .caja h3{
        font-size: 20px;
    }

    .caja p{
        font-size: 18px;
    }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1400px) {

    .seccion2{
        margin-top: 60px;
    }

    .titulo-cajas{
        font-size: 60px;
    }

    .cajas{
        grid-template-columns: 320px 320px 320px 320px;
        gap: 60px;
        margin-top: 50px;
    }

    .caja{
        gap: 8px;
    }

    .caja img{
        width: 320px;
        height: 320px;
    }

    .caja h3{
        font-size: 30px;
    }

    .caja p{
        font-size: 25px;
    }

    .boton-cajas{
        font-size: 24px;
        border-radius: 35px;
    }
}