<footer class="footer">
  <div class="footer-container">

    <!-- LOGO + RESUMEN -->
    <div class="footer-col">
      <img src="/assets/logo-camis.png" class="footer-logo" alt="Logo">
      <p class="footer-text">
        Tu tienda Nº1 en camisetas de fútbol. Calidad premium,
        envíos rápidos y productos 100% originales.
      </p>

      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

    <!-- CATEGORÍAS -->
    <div class="footer-col">
      <h3>Redes Sociales</h3>
      <ul>
        <li><a href="#"> <img src="assets/facebook.png" alt="facebook">   Facebook</a></li>
        <li><a href="#"> <img src="assets/instagram.png" alt="instagram">  Instagram</a></li>
        <li><a href="#"> <img src="assets/twitter.png" alt="twitter">  Twitter</a></li>
        <li><a href="#"> <img src="assets/youtube.png" alt="youtube">  Youtube</a></li>
        <li><a href="#"> <img src="assets/tiktok.png" alt="tiktok">  TikTok</a></li>
      </ul>
    </div>

    <!-- CONTACTO -->
    <div class="footer-col">
      <h3>Contacto</h3>
      <ul>
        <li>Email: soporte@camisworld.com</li>
        <li>WhatsApp: +34 600 123 456</li>
        <li>Envíos 24/48h · España</li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 CamisWorld — Todos los derechos reservados
  </div>
</footer>

