<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- Loop con *ngFor -->
    <div class="swiper-slide" *ngFor="let slide of slides">
      <div class="reseña">
        <img [src]="slide.img" alt="logo">
        <p class="opinion">{{ slide.opinion }}</p>
        <p class="estrellas">{{ slide.estrellas }}</p>
        <p class="nombre">{{ slide.nombre }}</p>
      </div>
    </div>
  </div>

  <!-- Condicional con *ngIf -->
  <ng-container *ngIf="slides.length > 1">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </ng-container>
</div>



