@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-coverflow";

.mySwiper {
  width: 100%;
  padding: 40px 0;
  background-color: #1A1A1A;
  margin-top: 50px;
}

.reseña {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.reseña img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.opinion {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.4;
}

.estrellas {
  color: #f5a623;
  font-size: 1rem;
  margin-bottom: 8px;
}

.nombre {
  font-weight: bold;
  color: #555;
  font-size: 0.9rem;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #333;
} 


.titulo-seccion4 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo-seccion4::after {
  content: "";
  height: 3px;
  width: 73%;
  background: #9EFF00; 
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}





/* ----------- TABLET ----------- */
@media screen and (min-width: 650px) {
  .reseña {
    max-width: 550px;
  }

  .titulo-seccion4{
    font-size: 27px;
  }

  .titulo-seccion4::after{
    width: 55%;
  }
}


/* ----------- PORTATIL ----------- */
@media screen and (min-width: 1000px) {
  .reseña {
    max-width: 600px;
  }

  .titulo-seccion4{
    font-size: 35px;
    padding: 7px;
  }

  .titulo-seccion4::after{
    width: 45%;
  }

  .reseña img{
    width: 100px;
    height: 100px;
  }

  .opinion{
    font-size: 1.2rem;
  }
}


/* ----------- MONITOR ----------- */
@media screen and (min-width: 1400px) {
  .reseña {
    max-width: 900px;
    height: 300px;
  }

  .titulo-seccion4{
    font-size: 45px;
    padding: 12px;
  }

  .titulo-seccion4::after{
    width: 30%;
  }

  .reseña img{
    width: 150px;
    height: 150px;
  }

  .opinion{
    font-size: 1.4rem;
  }

  .estrellas{
    font-size: 1.2rem;
  }

  .nombre{
    font-size: 1.1rem;
  }
}
