<app-header></app-header>

<div class="perfil-pedidos">
    <h2 class="enlaces" (click)="seleccionar('Perfil')" [class.activo]="opcionSeleccionada === 'Perfil'">Perfil</h2>
    <h2 class="enlaces" (click)="seleccionar('Pedidos')" [class.activo]="opcionSeleccionada === 'Pedidos'">Pedidos</h2>
</div>

<div class="contenido">
    @if(opcionSeleccionada === "Perfil"){
        <div class="info-perfil">
            <h3>Nombre: {{ user()?.name }}</h3>
            <h3>Email: {{ user()?.email }}</h3>
            <h3>Usuario: {{ user()?.nickname }}</h3>
            <button class="logout" (click)="logout()">Cerrar Sesión</button>
        </div>
    }

    @if(opcionSeleccionada === "Pedidos"){
        <div class="lista-pedidos">
            @if(pedidos().length === 0) {
                <p>No has realizado ningún pedido todavía.</p>
            }

            @for (pedido of pedidos(); track pedido._id) { <div class="pedido-card">
                    <div class="pedido-header">
                        <span>📅 Fecha: {{ pedido.fecha | date:'shortDate' }}</span>
                        <span class="estado">{{ pedido.estado || 'Procesando' }}</span>
                    </div>
                    
                    <div class="pedido-body">
                        <ul>
                            @for (item of pedido.productos; track $index) {
                                <li>{{ item.nombre }} x{{ item.cantidad }}</li>
                            }
                        </ul>
                    </div>

                    <div class="pedido-footer">
                        <strong>Total: {{ pedido.total | currency:'EUR' }}</strong>
                    </div>
                </div>
            }
        </div>
    }
</div>

<app-footer></app-footer>