.perfil-pedidos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

.enlaces{
    cursor: pointer;
    border: 2px solid black;
    padding: 15px;
    border-radius:20px;
}

.enlaces.activo{
    background-color: #7ED957;
}

.info-perfil{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 20px;
    gap: 50px;
    padding: 20px;
}